.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.artistName p,span{
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.grid-center{
  
  margin: auto;
   
  
}
.displayDashboardGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.grid-wrapper{
  margin-top: 50px;
  display: flex;
  width: 800px;
    flex-wrap: wrap;
    
    grid-gap: 6px;
    justify-content: center;
 }





.grid-container img:hover{
  opacity: .7;
}

.image span{
  margin-left: 10px;
}
.artist-header{
  margin:auto;
  width: 300px;
  font-family:sans-serif;
}
.image hr{
  border: 1px solid black;
  border-radius: 3px;
  margin-top: -10px;
}
.imageUploadContainer{
  
  
    /* Add the blur effect */
     filter: blur(8px);
    -webkit-filter: blur(8px); 
  
    /* Full height */
    height: 90vh;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.image-container{
  padding: 2px 16px;

}

.image {
  min-width: 300px;
  max-width: 300px;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}
.image img{
  min-width: 300px;
  max-width: 300px;
  
  filter: brightness(120%);
}

.image:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.addImageContainer{
  min-width: 600px;
  max-width: 600px;
  min-height: 300px;
  margin: auto;
  border-radius: 8px;
  margin-bottom: 40px;
  padding-bottom: 80px;
border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 50%;
  padding-right: 150px;
  padding-top: 15px;
  background-color: whitesmoke;
  color: rgb(24, 24, 24);
  font-weight: bold;
    /* Fallback color */
    /* background-color: rgba(0, 0, 0, 0.4); */
    /* Black w/opacity/see-through */
  transition: 0.3s;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.addImageContainer h4{
  margin: auto;
  font-size: 30px;
  text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
  margin-bottom: -15%;
}
.expand-button{
  background-color: inherit;
  border: inherit;
  margin-left: 30px;
}
.image-size-inputs {
  float: right;
}
form{
  margin-top: 20%;
  margin-left: 30%;
}
.image button{
  background-color: white;
  border: inherit;
  color: rgb(107, 111, 152);
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
}
.image button:hover{
  color: rgb(143, 38, 38);
}


.namesHidden{
  display: none;
}

.MatchAdded p {
  width: 50%;
  margin: auto;
  margin-top: 3%;
  background-color: rgb(181, 226, 132);
  padding: 10px 10px 10px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.likes h5:hover + .namesHidden{
  display:inline-block;
  color: black;
  max-width: 250px;
  cursor: pointer;
  background-color: inherit;
}

.likes h5:hover + .namesHidden button:active{
  display:inline-block;
  cursor: pointer;
  background-color: rgb(98, 98, 194);
  color: whitesmoke;
  border-radius: 7px;
  padding: 8px 8px 8px 8px;
}

.likes h5{
  color: blue;
}
.numberOfLikes{
  color: black;
}
.namesHidden{
  color: black;
}
.removeImage{
  float: right;
  margin-top: -20%;
  position: sticky;
top: 0px;
}

.artistProfilePage{
  min-width: 960px;
  padding-top: 30px;
  min-height: 200px;
  border-radius: 10px;
  margin-right: 10%;
  background-color: whitesmoke(245, 249, 245);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-bottom: black;
  margin: auto;
    top: 0;
     
 
}
.artistProfilePageBackground{
background-color:inherit;

}
.artistProfilePage h5 {
  margin-top: 20px;
  color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
   
    font-size: 30px;
}
.artistProfilePage img{
  margin-top: -2%;
  height: 100px;
  float: left;
  margin-left: 20px;
  border-radius: 50%;
  width: 110px;
}
.artistProfilePage p{
  color: inherit;
  
  font-weight: bold;
  float: left;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.artistProfilePage span{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
  
}
.artistProfilePage h4 {
  color: black;
  
    font-weight: bold;
    float: left;
    margin-left: -12%;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-container link{
  color: red;
}
.FormError{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(45, 41, 41);
  font-weight: bold;
  font-size: 15px;
}
.Select-input-label{
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
.input-label{
  margin-top: 10px;
  
}
.input-label p{
    font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(246, 69, 69);
  font-weight: bold;
  margin-bottom: -7px;
}
.Select-input-label-add-image {
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
.input-label-add-image{
    margin-top: 6px;
}
.input-label-add-image p{
  font-size: 13px;
    font-family: 'Times New Roman', Times, serif;
    color: #15824B;
    font-weight: bold;
    margin-bottom: 3px;
}
.artistContentGrid{
  margin-left: 40%;
}

.menuItem{
    max-height: 85%;
      width: 360px;
      position: fixed;
      z-index: 1;
      margin-top: 20px;
      border-radius: 16px;
      justify-content: flex-start;
      background-color: whitesmoke(245, 249, 245);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      overflow-x: hidden;
      margin-left: 40px;
      color: black;
      padding-left: 20px;
      padding-right: 20px;
}
.menuItem p{
  padding: 16px 18px 16px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    padding-right: 55px;
}
.menuItem img {
  margin-top: 30px;
  height: 70px;
  float: left;
  margin-left: 20px;
  border-radius: 50%;
  width: 70px;

}
.menuItem h5{
     margin-top: 40px;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
      
      font-size: 20px;
}
.menuItem span{
    color: black;
      font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
}
.menuItem h4 {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 20px;
}
.menuItem h3 {
  margin-top: -40px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
margin-left: 20px;
  font-size: 20px;
}
.menuItem h2 {
  margin-top: 40px;
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-left: 20px;
  font-size: 15px;
}
.menuItem text {
  overflow-wrap: break-word;
    word-wrap: break-word;
  color: rgb(35, 35, 35);
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20px;
  font-size: 14px;
  max-width: 300px;
  padding: 12px;
  text-align: center;
}
.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
    margin-bottom: 10px;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}
.file-upload-input {
position: absolute;
  margin-right: 50px;
  padding: 0;
  min-width: 500px;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
.drag-text {
  text-align: center;
}

.drag-text h2 {
  font-weight: 100;
  text-transform: uppercase;
  color: #111312;
  padding: 20px 0;
      font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
}
.addedImageText {
  width: 40%;
  margin: auto;
  padding: 3px 3px 3px 3px;
  background-color: rgb(142, 223, 142);
  margin-top: 30px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.addedImageText h5 {
  text-align: center;
  color: black;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;

}
.ImageLoadingText {
  min-width: 600px;
    max-width: 600px;
    min-height: 400px;
    margin: auto;
    border-radius: 8px;

    margin-top: 5%;
    padding-right: 150px;
    padding-top: 1px;
    background-color: white;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.ImageLoadingText h5 {
  text-align: center;
  color: black;
  font-size: 17px;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 30px;

}

.imageUploadButton{
  padding: 16px 16px 16px 16px;
  width: 50%;
  background-color: #1FB264;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 25%;
  font-size: 16px;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 10px;
}
.imageUploadButton:hover{
  background-color: #0c5a30;
  cursor: pointer;
}
.home-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30%;
}
.home-images{
  min-width: 700px;
  margin-left: 100%;
  margin-top: 10%;
}
.linkPtag Link {
  color: black;
    text-decoration: none !important;
    border-bottom: inherit;
}
.hero-image-container{
  margin-top: 5%;
  background-color: inherit;
  margin-left: 10%;

}

.hero-image img {
  
object-fit: cover;
  border-radius: 18px;
image-rendering: -webkit-optimize-contrast;
    height: 30%;
    width: 72%;
    background: transparent;
 z-index: 0;
  object-position: 50% 33.33%;
  position: absolute;
}



.hero-text {
  
  position: absolute;
  top: 30%;
  left: 23%;
  float: left;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

.Featured-Artists{
  margin-top: 30%;
  margin-left: 8%;
}
.Featured-Artists h2{
    font-family: sans-serif;
    font-size: 35px;
    font-weight: bold;
}
.Featured-Artists-Grid-Container{
  flex-wrap: wrap;
  margin: auto;
    text-align: center;
padding: 0px;
      width: 100%;
      height: 100%;
      display: flex;
      
      /*centers items on the line (the x-axis by default)*/
      align-items: center;
      /*centers items on the cross-axis (y by default)*/
    grid-gap: 6px;
}

.ratingAndPaintingText {
  display: flex;
  margin-left: 20px;
  align-items: flex-start;
  justify-content: space-around;
    grid-gap: 15px;
  
}

.ratingAndPaintingValues{
  display: flex;
    margin-left: 20px;
    align-items: flex-start;
    justify-content: space-around;
    grid-gap: 15px;
}
.MenuItemButtons{
    display: flex;
      margin-left: 20px;
      margin-top: 50px;
      align-items: flex-start;
      justify-content: space-around;
      grid-gap: 5px;
}
