.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.artistName p,span{
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}
.grid-center{
  
  margin: auto;
   
  
}
.displayDashboardGrid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.grid-wrapper{
  
  width: 50%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  padding-top: 50px;
  margin-bottom: 100px;
 }





.grid-container img:hover{
  opacity: .7;
}

.image span{
  margin-left: 10px;
}
.artist-header{
  margin:auto;
  width: 300px;
  font-family:sans-serif;
}
.image hr{
  border: 1px solid black;
  border-radius: 3px;
  margin-top: -10px;
}

.image-container{
  padding: 2px 16px;
}

.image {
  min-width: 300px;
  max-width: 300px;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  
}
.image img{
  min-width: 300px;
  max-width: 300px;
  
  filter: brightness(120%);
}

.image:hover{
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.addImageContainer{
  min-width: 600px;
  max-width: 600px;
  min-height: 400px;
  margin: auto;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  margin-top: 5%;
  background-color: white;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.addImageContainer form{
  float: right;
}
.addImageContainer h4{
  float: right;
  padding: 12px 12px 12px 12px;
  background-color: rgb(128, 162, 203);
  border-radius: 5px;
}
.input{
  margin-top: -10px;
  background-color: rgb(40, 105, 129);
  padding: 12px 12px 12px 12px;
}
.expand-button{
  background-color: inherit;
  border: inherit;
  margin-left: 30px;
}
.image-size-inputs {
  float: right;
}
form{
  margin-top: 20%;
  margin-left: 30%;
}
.image button{
  background-color: white;
  border: inherit;
  color: rgb(107, 111, 152);
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
}
.image button:hover{
  color: rgb(143, 38, 38);
}


.namesHidden{
  display: none;
}

.MatchAdded p {
  width: 50%;
  margin: auto;
  margin-top: 3%;
  background-color: rgb(181, 226, 132);
  padding: 10px 10px 10px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.likes h5:hover + .namesHidden{
  display:inline-block;
  color: black;
  max-width: 250px;
  cursor: pointer;
  background-color: inherit;
}

.likes h5:hover + .namesHidden button:active{
  display:inline-block;
  cursor: pointer;
  background-color: rgb(98, 98, 194);
  color: whitesmoke;
  border-radius: 7px;
  padding: 8px 8px 8px 8px;
}

.likes h5{
  color: blue;
}
.numberOfLikes{
  color: black;
}
.namesHidden{
  color: black;
}
.removeImage{
  float: right;
  margin-top: -20%;
  position: sticky;
top: 0px;
}

.artistProfilePage{
  min-width: 960px;
  padding-top: 30px;
  min-height: 200px;
  border-radius: 10px;
  margin-right: 10%;
  background-color: whitesmoke(245, 249, 245);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-bottom: black;
  margin: auto;
    top: 0;
     
 
}
.artistProfilePageBackground{
background-color: rgb(241, 238, 238)
}
.artistProfilePage h5 {
  margin-top: 20px;
  color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
   
    font-size: 30px;
}
.artistProfilePage img{
  margin-top: -2%;
  height: 100px;
  float: left;
  margin-left: 20px;
  border-radius: 50%;
  width: 110px;
}
.artistProfilePage p{
  color: inherit;
  
  font-weight: bold;
  float: left;
  margin-left: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.artistProfilePage span{
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin-left: 10px;
  font-size: 30px;
  
}
.artistProfilePage h4 {
  color: black;
  
    font-weight: bold;
    float: left;
    margin-left: -12%;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-container link{
  color: red;
}
.FormError{
  font-family: 'Times New Roman', Times, serif;
  color: rgb(45, 41, 41);
  font-weight: bold;
  font-size: 15px;
}
.Select-input-label{
  margin-top: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}
.input-label{
  margin-top: 10px;
  
}
.input-label p{
    font-size: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(246, 69, 69);
  font-weight: bold;
  margin-bottom: -7px;
}
.artistContentGrid{
  margin-left: 40%;
}

.menuItem{
    height: 100%;
      width: 260px;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: whitesmoke(245, 249, 245);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      overflow-x: hidden;
      padding-top: 50px;
      color: black;
}
.menuItem p{
  padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}